<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Email</title>
    <link rel="stylesheet" href="./static/css/style.css">
</head>
<body>
    <div class="container animated-element">
        <h2>Send Email</h2>
        <form action="/send_email" method="post">
            <label for="email">Recipient Email:</label><br>
            <input type="email" id="email" name="email" required><br><br>
            <label for="subject">Subject:</label><br>
            <input type="text" id="subject" name="subject" required><br><br>
            <label for="message">Message:</label><br>
            <textarea id="message" name="message" rows="4" cols="50" required></textarea><br><br>
            <input type="submit" value="Send Email">
        </form>
    </div>
</body>
</html>
